<table>
	<tr>
		<td><%= link_to 'Sales People',  sales_people_path %></td>
	</tr>

	<tr>
		<td><%= link_to 'Clients',  clients_path %></td>
	</tr>

	<tr>
		<td><%= link_to 'Notice',  notice_index_path %></td>
	</tr>

</table>
