$notice-color:blue;
$alert-color:red;
$back-color:white;
$base-color:#EEEEEE;
$index-border-color:darken($base_color, 15%);
$index-header-color:darken($base_color, 7%);

html {
  font-family: Helvetica, Arial, "MS PGothic", Osaka, Sans-serif;
}

body {
  margin: 0px;
  background-color: $back-color;
  color: #333;
  font-size: 13px;
  line-height: 18px;
  }

p.notice {
  color: $notice-color;
}

p.alert {
  color: $alert-color;
}

div#nav {
  text-align: right;
  border-style: solid;
  border-width: 0px;
  border-radius: 10px;
  width: 80%;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 15px;
  background-color: $base-color;
  h1 {
    float: left;
    text-align: left;
  }
  
  }

div#main_content {
  border-style: solid;
  border-width: 0px;
  border-radius: 10px;
  width: 80%;
  margin: 0 auto;
  background-color: $base-color;
  background: -moz-linear-gradient(top, $base-color, $back-color);
  background: -webkit-gradient(linear, left top, left bottom, from($base-color), to($back-color));
}

table.index{
  border: 1px $index-border-color solid;
  border-collapse: collapse;
  border-spacing: 0;
  width: 95%;
  margin: 0 auto;
  th{
    padding: 5px;
    border: $index-border-color solid;
    border-width: 0 0 1px 1px;
    background: $index-header-color;
    font-weight: bold;
    line-height: 120%;
    text-align: center;
    letter-spacing : 0.35em;
  }
  td{
    padding: 5px;
    border: 1px $index-border-color solid;
    border-width: 0 0 1px 1px;
    text-align: left;
  }
}

table.form{
  width: 80%;
  margin: 0 auto;
  td{
    padding:5px;
  }
  
}

div.footer_nav{
  text-align: right;
}

.field_with_errors {
  padding: 2px;
  background-color: $alert-color;
  display: table; }

p, ol, ul, td {
  font-size: 13px;
  line-height: 18px; }

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px; }

a {
  color: #000;
  &:visited {
    color: #666; }
  &:hover {
    color: #fff;
    background-color: #000; } }

div {
  &.field, &.actions {
    margin-bottom: 10px; } }

#notice {
  color: $notice-color; }

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff; }
  ul li {
    font-size: 12px;
    list-style: square; } }

